* {
	color: white ;
	background-color: black;
}
#note {
	width: 455px;
	height: 800px;
	border-radius: 40px;
	margin: 100px 20px;
	background-color: #1E1E1E;
}
.CreateNewNote {
	width: 385px;
	height: 80px;
	margin: 10px auto auto 35px ;
	border-radius: 40px;
	background-color: #2b2d2b;
	font-size: 20px;
	border: none;
}
.CreateNewNote:active {
	background-color: #1c1e1c;
	transform: scale(1.10);
}
.NameNote{
	width: 385px;
	height: 80px;
	margin: 10px auto auto 35px ;
	border-radius: 40px;
	background-color: #2b2d2b;
	font-size: 20px;
	border: none;
	text-align: center;
	resize: none;
	caret-color: transparent;
}
.NameNote::placeholder{
	color:white;
	padding-top: 30px;
	padding-bottom: 30px;
}
.WriteNote{
	min-width: 385px;
	max-width: 385px;
	min-height: 80px;
	max-height: 580px;
	margin: 10px auto auto 35px ;
	border-radius: 40px;
	background-color: #1E1E1E;
	font-size: 20px;
	border-color: white;
	text-color: white;
	resize: none;
	text-align: center;
	caret-color: transparent;
}
.WriteNote::placeholder{
	color:white;
	padding-top: 30px;
	padding-bottom: 30px;
}
.User{
	top: 20px;
	right: 20px;
	position: absolute;
}
.User:active{
	background-color: #1c1e1c;
	transform: scale(1.10);
}



.Electron {
	width: 385px;
	height: 385px;
	position: absolute;
	top: 30%;
	right: 30%;

	cursor: pointer;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all 0.2s ease;
	z-index: 10;
	background: transparent;}
.Electron .center {
	width: 60px;
	height: 60px;
	background-color: #ffffff;
	border-radius: 50%;
	position: absolute;
}

.Electron .orbit{
	position: absolute;
	width: 120px;
	height: 240px;
	border-radius: 50%;
	background-color: transparent;
	border: 2px solid white;
}

.Electron .electron{
	position: absolute;
	width: 20px;
	height: 20px;
	top: 70px;
	background-color: white;
	border-radius: 50%;
	left: 135px;
	offset-path: path('M60 2.5C75.1115 2.5 89.4654 14.8157 100.19 36.2656C110.841 57.566 117.5 87.1671 117.5 120C117.5 152.833 110.841 182.434 100.19 203.734C89.4654 225.184 75.1115 237.5 60 237.5C44.8885 237.5 30.5346 225.184 19.8096 203.734C9.15946 182.434 2.5 152.833 2.5 120C2.5 87.1671 9.15946 57.566 19.8096 36.2656C30.5346 14.8157 44.8885 2.5 60 2.5Z');
	animation: move 5s linear infinite;
}
@keyframes move {
	100%{
		offset-distance: 100%;
	}
}
